extends layout

block content
    article#select
        p
            a(href='/start-room')
                button Start Room

        p
            a(href='/join-room')
                button Join Friend

        p
            a(href='/join-random')
                button Join Random
