extends layout

block content
    article#select
        section#beforeStartRoom
            h1 Starting a new room&hellip;
        section(
            id='roomInfo'
            class='hidden'
        )
            h1 Room created
            p Your room code is:
            h2#roomCode
            p Tell your friends to join!

    script(src='javascript/ws-connection.js')
    script.
        window.onload = startRoomWithFriends
