html{background:#303439}
html,button,input{font:1em/1.5 Consolas,Andale Mono,Monaco,Courier New, Courier,monospace;color:#FFF}

h1,h2,h3,h4,h5,h6{font-weight:400}

input[type="text"]{background:rgba(255, 255, 255, .1);border:1px solid rgba(255, 255, 255, .5);padding:.125em .25em;width:20em;}

input[type="checkbox"]{visibility:hidden;height:0;width:0}
input[type="checkbox"] + label{position:relative;margin-right:2em;}
input[type="checkbox"] + label:after{content:"";position:absolute;bottom:-.0625em;right:-1.75em;
	display:block;text-align:center;width:1em;height:1em;
	border-radius:.25em;cursor:pointer;
	font-weight:700;font-size:1.125em;border:2px solid rgba(0, 0, 0, .5);background:rgba(0, 0, 0, .2);line-height:1}
input[type="checkbox"]:checked + label:after{content:"x";color:#e2505f}

button{background:#00996b;border:.125em outset rgba(0, 0, 0, .5);border-radius:.25em;cursor:pointer}
button:hover{background:#0A7}
button:active{position:relative;top:1px}

#splash,#select,#voting{position:absolute;top:40%;left:50%;transform:translate(-50%, -40%);text-align:center;width:100%;}

#splash h1{font-size:3em}
#splash button,#select button{font-size:1.25em;padding:.25em .5em}

#playerlist,#chat{background:rgba(0, 0, 0, .3);}
#playerlist{width:10em;position:fixed;left:0;top:0;bottom:0;overflow-y:scroll}
#playerlist ul{padding-right:1em;}

#chat{position:fixed;left:10em;bottom:0;right:0;padding:1em}
#chat input[type="checkbox"]:checked + label:after{content:"✓";color:#00996b;line-height:1.3}
.right{float:right;margin:0;padding:.25em 0 0}

#players{margin-left:10em}
#players blockquote{width:16em;margin:0;padding:0;position:fixed;font-size:.8em;}
#players blockquote p.message{background:#FFF;color:#444;border-radius:1em;padding:1em;position:relative;margin:0 0 .5em;text-align:center;}
#players blockquote p.message::after{content:"";position:absolute;bottom:-.8em;left:52%;
	border-left: 1em solid transparent;border-right: 1em solid transparent;border-top: 1em solid #FFF;}

#players blockquote span.avatar{font-size:2em;vertical-align:middle}
#players blockquote p.name{text-align:center;margin:0;padding:0}


#voting p{width:5em;margin:.5em auto;position:relative;text-indent:-1.5em}
#voting input[type="checkbox"] + label{position:static;margin:0}
#voting input[type="checkbox"] + label:after{text-indent:0}
#voting button{margin-top:1em}

#prompt{position:fixed;top:50%;left:50%;transform:translate(-50%, -50%);text-align:center;
	background:#0A7;box-shadow:.5em .5em .75em rgba(0, 0, 0, .25);
	border-radius:16px;margin:0;padding:0;max-width:75%;z-index:200;}
#prompt p{padding:.5em 1em;margin:0;font-size:1.5em}


.fadein{animation:fadein 2s}
.fadeout{animation:fadeout 2s;font-size:0}


@keyframes fadein {
	from {opacity:0;font-size:0}
	to {opacity:1;font-size:1em}
}
@keyframes fadeout {
	from {opacity:1;font-size:1em}
	to {opacity:0;font-size:0}
}